version: '3.2'
services:

  # The Application
  workspace:
    build:
      context: ./
      dockerfile: app.dockerfile
    container_name: app-workspace
    working_dir: /var/www
    ports:
    - 9000
    volumes:
      - ../app/:/var/www
    networks:
      - app

  # The Web Server
  nginx:
    image: nginx:latest
    container_name: app-nginx
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ../app:/var/www
      - /etc/localtime:/etc/localtime:ro
      - ./nginx:/etc/nginx/conf.d/
    working_dir: /var/www
    networks:
      - app

  # The Database
  mariadb:
    image: mariadb:latest
    container_name: app-database
    volumes:
      - ./db-data:/var/lib/mysql:delegated
      - /etc/localtime:/etc/localtime:ro
    environment:
      - "MYSQL_DATABASE=app"
      - "MYSQL_USER=root"
      - "MYSQL_PASSWORD=secret"
      - "MYSQL_ROOT_PASSWORD=secret"
    ports:
      - 3306:3306
    networks:
      - app

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: app-phpmyadmin
    ports:
      - 8080:80
    environment:
      - 'PMA_HOST=mariadb'
    volumes:
      - /etc/localtime:/etc/localtime:ro
    networks:
      - app

  mailhog:
    image: mailhog/mailhog
    container_name: app-mailhog
    ports:
      - 8025:8025
    volumes:
      - /etc/localtime:/etc/localtime:ro
    networks:
      - app

networks:
  app:
    driver: bridge

